.toolbar {
    display: flex;

    flex-direction: column;
    list-style: none;
    position: absolute;
    background-color: rgba(30,30,30,.1);


    position: absolute;
    width: 200px;
    height: 100%;
    left: 0px;
    top: 0px;

    align-items: center;



}

.toggle {

    align-items: center;
    vertical-align: middle;
    

    display: flex;
    flex-direction: row;
    
    text-align: left;

    width: 125px;
    height: 40px;

    border-radius: 10px;
    padding: 10px;


    
    

    justify-content: space-between;

}

.toggle img{
    width: 20px;
    height: 20px;
}




.toggle:hover {
    background: rgba(30, 30, 30, 0.1);
    padding-right: 10px;

}

.line {
    width: 65px;
    height: 2px;
    /*background: #CC00FF;*/
    border-radius: 6px;
    margin-top: -5px;
    align-self: center;


}

.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    padding-right: 10px;

    margin-top: -5px;
    margin-bottom: -5px;
    color: rgba(104, 104, 104, 1);
    

    padding: 2px;
    
    

}

#logo {

    
    padding: 10px;
    
    margin-top: 20px;


    width: 52px;
    height: 53px;



    background: rgba(30, 30, 30, 0.1);
    border-radius: 50px;
    margin-bottom: 50px;
}

#logo:hover {
    border-radius: 10px;
}

a:link{
    text-decoration: none
}
a:visited{
    text-decoration:none
}
a:hover{
    text-decoration:none
}
a:active{
    text-decoration:none
}